
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../Scripts/assets/images/expense-fav.png">
    <title>Expense Manager</title>
    
    <link href="~/Scripts/dist/css/style.min.css" rel="stylesheet" />

    <link href="~/Scripts/assets/libs/flot/css/float-chart.css" rel="stylesheet" />
   
    <link href="~/Content/login.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                   
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <!-- Logo icon -->
                        <b class="logo-icon p-l-10">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="~/Scripts/assets/images/E-pense.png" alt="homepage" class="light-logo" style="height:60px" />
                        </b>
                      
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                
            </nav>
        </header>

        <div class="container">

            @RenderBody()
           
        </div>

    </div>
    <script src="~/Scripts/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/assets/libs/popper.js/dist/umd/popper.min.js"></script>

    <script src="~/Scripts/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>

    <script src="~/Scripts/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="~/Scripts/dist/js/waves.js"></script>
    <script src="~/Scripts/dist/js/sidebarmenu.js"></script>
    <script src="~/Scripts/dist/js/custom.min.js"></script>

    <script src="~/Scripts/assets/libs/flot/excanvas.js"></script>
    <script src="~/Scripts/assets/libs/flot/jquery.flot.js"></script>
    <script src="~/Scripts/assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="~/Scripts/assets/libs/flot/jquery.flot.time.js"></script>
    <script src="~/Scripts/assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="~/Scripts/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="~/Scripts/dist/js/pages/chart/chart-page-init.js"></script>

    

    @RenderSection("scripts", required: false)
</body>

</html>