@using ExpenseManager.Helper.Repositories
@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    var userProfile = new UserRepository().GetById(@User.Identity.GetUserId());

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav float-right">                      
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../../Scripts/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31">
                    Hello @userProfile.FirstName
                </a>
                <div class="dropdown-menu dropdown-menu-right user-dd animated">
                    <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("ChangePassword","Manage")"><i class="ti-user m-r-5 m-l-5"></i> Change Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                              
                </div>
            </li>
   
        </ul>
    }
}
 

